/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


.main--layout {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1A1B21;
  color: white;
  font-family: Inter, sans-serif;

}
.main-intro {
  text-align: center;
  margin: auto
}

.main--name {
  font-weight: 700;
  font-size: 25px;

}

.main--position {
  font-weight: 100;
  font-size: 15px;
  color: #F3BF99;
}

.main--photo {
  width: inherit;
}

.div--layout {
  background-color: #23252C;
}

nav {
  align-items: center;
  display: block;
  background-color: #161619;
}
nav > div > img {
  padding: 2%;
  width: 15%;
  margin: 1%;
}

nav > div {
  margin-left: 20%;
  width: 70%;
}

h3 {
  padding-left: 5%;
  padding-right: 5%;
  color: #DCDCDC;
  font-weight: 100;
  font-size: 15px;
}

.about--title {
  margin-left: 5%;
  font-size: 20px;
}

.interests--title {
  margin-left: 5%;
  font-size: 20px;
}